:root {
    --blue: #004DE7;
    --hovered-blue: #296DF3;
    --pressed-blue: #0039CB;
    --dark-blue: #051441;
    --aqua: #38BDF8;
    --aqua-light: #E0F2FE;
    --light-blue: #D7E5FF;
    --light-blue-1: #71A0FF;
    --secondary-hover: #95BAFD;
    --secondary-active: #5D96FF;
    --sceondary-dis: #B7D0FF;
    --secondary-dis-text: #6D9FFF;
    --blue-type: #B3CCFF;

    --red: #EF4444;
    --red-light: #FEF2F2;
    --danger-def: #FFD7DE;
    --danger-text: #FF1E47;
    --danger-hover: #FFA7B6;
    --danger-pressed: #FE8095;

    --green: #059669;
    --dark-green: #0C947B;
    --green-light: #D5F4E7;

    --gray-blue: #C7D2FE;
    --gray-blue-1: #93B6FC;
    --gray-blue-light: #F0F2F7;
    --gray-blue-light-2: #D9E6FF;
    --gray-blue-light-3: #E7ECF4;
    --black: #0F172A;
    --dark-gray: #334155;
    --gray: #64748B;
    --gray-1: #949EB3;
    --gray-2: #CBD0EA;
    --light-gray: #F8FAFE;

    --lilac: #818CF8;
    --lilac-ligh: #EAECFF;

    --light-purple: #EADDFE;
    --dark-purple: #7019FF;

    --pink-light: #FDDDF4;
    --pink-dark: #D11D9F;

    --orange-light: #FEEBCD;
    --orange-dark: #DE5D00;
}